<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fortune Cookies</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

  {{!-- if we can't install the css into the project --}}
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<body>
  <div class="flex-column justify-space-around">
    <nav class="relative flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
      <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <div class="container-fluid p-2 bg-gray-200">
          <a class="text-xl text-black" href="#">Fortune Cookies</a>
        </div>
      
        {{!-- Issue with spacing on logged in links --}}
        <div class="container-fluid flex flex-wrap items-center justify-between px-6 py-2 bg-gray-200 rounded">
         {{#if logged_in}} 
          <a href="/profile">Tarot Journal</a> | <a href="/logout" id="logout">logout</a>
         {{else}} 
          <a href="/login">Login</a>
         {{/if}} 
        </div>
      </div>
    </nav>

    {{{body}}}

  </div>
  <!-- Render script for logged in users only --> 
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
