  <section class="container mx-auto">
    <div class="container shadow-lg bg-gray-100">
      <img class="rounded opacity-50 my-8 p-5 mx-auto w-1/4 hover:opacity-25" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/the-tower-tarot-deck-rider-waite-tarot-deck.jpg" alt="The Tower!">
        <div class="text-center mb-12 p-3 text-gray-500">
          <h4>Ooops! You'd think we would have saw this coming...</h4>
          <p>Looks like we ran into an issue!</p>
          <p class="text-sm">Here's a little more about your error:
            {{error}}</p>
        </div>
    </div>
  </section>