{{!-- Reference: https://tailwind-elements.com/docs/standard/components/headers/ --}}

<div class="relative overflow-hidden bg-no-repeat bg-cover" style="
  background-position: 50%;
  background-image: url('https://img.freepik.com/free-photo/close-up-fortune-teller-reading-tarot-cards-table-with-purple-tablecloth_78636-643.jpg?w=2000');
  height: 900px;">
  <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.75)">
    <div class="flex justify-center items-center h-full">
      <div class="text-center text-white px-6 md:px-12">
        <h1 class="text-5xl font-bold mt-0 mb-6">Welcome {{User}} to Fortune Card Cookies</h1>
         <div class="flex justify-center">
            <div class="p-2 m-6 rounded w-1/3 h-auto">
              <a href="/one-card-spread" id="oneSpread" class="inline-block px-6 py-2.5 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Draw 1 Card</a>
            </div>
            <div class="p-2 m-6 rounded w-1/3 h-auto">
              <a href="/three-spread" id="threeSpread" class="inline-block px-6 py-2.5 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">Draw 3 Cards</a>
            </div>
          </div>
      </div>
  </div>
</div>
