<section class="h-full w-full relative">
  <div class="container px-6 py-12 h-full w-1/2 bg-indigo-300">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        {{!-- <img
          src="[image]"
          class="w-full"
          alt="Tarot icon"
        /> --}}
      </div>

{{#if isLoggedOut}}
  <div class="grid-rows-1">
    <div class="auto-cols-auto">
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>

{{else}}
    <div class="auto-cols-auto">
      <h2>Signup</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="email" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button id="signup-btn" class="btn btn-primary" type="submit">signup</button>
        </div>
      </form>
    </div>
{{/if}}
  </div>
</section>

<script src="./js/login.js"></script>