<div class="container w-full h-full bg-green-200">
  <div class="card flex flex wrap w-1/3 p-2 mx-3 my-5 rounded bg-blue-200 inline">
    <h4>User Name</h4>
  </div>
  <div class="flex flex wrap w-1/2 p-2 mx-3 my-5 bg-gray-200">
  </div>
  
</div>

<script src="./js/profile.js"></script>
